---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Player from "../components/Player.astro";
import Programacion from "../components/Programacion.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Multicanal | Más cerca de ti.">
	<main>
		<Header />

		<section>
			<Player />
		</section>

		<section class="container mx-auto grid grid-cols-4 gap-2 mb-20">
			<Programacion title="Tu Médico en Casa" nombre="Con Laura Pineda" horario="20h00"/>
			<Programacion title="La Santa Misa" nombre="Con P. Carlos Ortíz" horario="07h00"/>
			<Programacion title="Resumen de Noticias" nombre="Con Dennis Rueda" horario="19h00"/>
			<Programacion title="Tu Médico en Casa" nombre="Con Laura Pineda" horario="20h00"/>
		</section>

		<Footer />

	</main>
	 
</Layout>
