<div class="relative flex overflow-x-hidden">
    <div class="py-12 animate-marquee whitespace-nowrap">
      <span class="text-4xl mx-4 text-white">Noticias | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Entretenimiento | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Peliculas | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Deportes | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Series | En Vivo</span>
    </div>
  
    <div class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
        <span class="text-4xl mx-4 text-white">Noticias | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Entretenimiento | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Peliculas | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Deportes | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Series | En Vivo</span>
    </div>
  </div>
  
<section class="mb-12">
    <div class="player container mx-auto grid grid-cols-12">
        <div class="col-[1/3]"></div>
        <div class="col-[3/11]">
            <iframe
                src="https://playerhd.eu/tv/multicanal/"
                width="100%"
                height="505px"
                frameborder="0"
                scrolling="auto"
                allowfullscreen
                style="position:relative; margin:0; padding:0; top:0; left: 0;width: 100%; height: 505px;"
                data-astro-cid-4zou52pi></iframe>
        </div>
        <div class="col-[11/-1]"></div>
    </div>
</section>
