---
import PlayerTv from "./PlayerTv.astro"
---


<div class="relative flex overflow-x-hidden">
    <div class="py-12 animate-marquee whitespace-nowrap">
      <span class="text-4xl mx-4 text-white">Noticias | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Entretenimiento | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Peliculas | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Deportes | En Vivo</span>
      <span class="text-4xl mx-4 text-white">Series | En Vivo</span>
    </div>
  
    <div class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
        <span class="text-4xl mx-4 text-white">Noticias | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Entretenimiento | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Peliculas | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Deportes | En Vivo</span>
        <span class="text-4xl mx-4 text-white">Series | En Vivo</span>
    </div>
  </div>
  
<section class="mb-12">
    <div class="player container mx-auto grid grid-cols-12">
        <div class="col-[1/2]"></div>
        <div class="col-[2/12]">
            <PlayerTv/>
        </div>
        <div class="col-[12/-1]"></div>
    </div>
</section>
